<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILeadIntegrationService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6000/PUF.PURLService.LeadIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeadIntegrationService" contract="PUF.LeadIntergration.ILeadIntegrationService" name="BasicHttpBinding_ILeadIntegrationService"/>
    </client>
  </system.serviceModel>
</configuration>
